# GitHub Metrics for KR
# You probably won't check this.
# 
# Remove things to remove it from the widget.
# Just check the following configuration to add stuff. 
# https://github.com/lowlighter/metrics/blob/master/action.yml

# Doesn't lag my PC browser, does lag the browser in the XPS.

# No, nothing is wrong here. Set up your metrics token.

name: GitHub Metrics (Hello KR)
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: justfoolingaround
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kathmandu
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all
          plugin_followup: yes
          plugin_followup_sections: repositories
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: TeX, JavaScript, HTML
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_lines: yes
          plugin_people: yes
          plugin_people_limit: 24
          plugin_people_size: 38
          plugin_people_types: followers, following
          plugin_stars: yes
          plugin_stars_limit: 4

# Again, nothing is wrong here. It takes time to run the actions.